__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

venv/
.venv/
env/
ENV/

db.sqlite3
*.log
staticfiles/
media/

.env
*.env

.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

*.egg-info/
dist/
build/
*.dll
*.so
*.dylib

.coverage
.pytest_cache/
*.cache
local_settings.py
